/* Hamburger menu */
.hamburger-menu {
    display: none;
    font-size: 18px;
    cursor: pointer;
  }
  .menu-dropdown {
    cursor: pointer;
}
  /* Mobile styles */
  @media (max-width: 1210px) {
    .features-area{
      padding:100px!important;
    }
    .hamburger-menu {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .header-area{
      height: 100px !important;
    }
    .container-header{
      max-height: 100px !important;
    }
    .header-area .top-header-area{
       height:100px !important;
    }
    .classynav {
      display: none;
      flex-direction: column;
      background-color: #fff;
      position: fixed;
      top: -100%; 
      left: 0;
      width: 100%;
      height: auto;
      padding:0 150px;
    }

  
    .classynav.active {
      top:100px;
      
    }
  
    .classynav ul {
      flex-direction: column;
      width: 100%;
      margin: 0;
      padding-bottom: 24px;
    }
  
    .classynav ul li {
      margin: 0;
    }
  
    .classynav ul li a {
      display: block;
      padding: 15px 20px;
      color: #000000;
      text-decoration: none;
    }
    .classynav ul .dropdown {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      margin-top:-48px;
      margin-left: 220px;
      display: none;
    }
  
    .home-container::before {
      top: 0 !important; 
      background-size: contain; 
      height: auto; 
      margin-bottom: 48px !important; 
    
      margin: -48px -100px !important;
    }
    .btn-custom{
      width:150px !important;
      font-size: 14px !important;
    }
    
  }
  